{% extends 'cancerpredictor/layout.html' %}

{% block body %}
<div class="overlay-container">
    <br><br>
    <h1 class="card-title" id="scrollspyHeading1" style="font-family:Geneva; font-weight: bold;">Our Motivation</h1>
    <br>
    <h3 class="card-text" style="font-family: Geneva;">I embarked on the journey of creating a breast cancer prediction
        project fueled by a deep-seated motivation to make a tangible impact on healthcare.I felt a compelling need
        to contribute to the ongoing efforts in early detection and intervention. By leveraging the power of technology
        and data science, my project aims to provide a tool that can assist medical professionals in predicting the
        likelihood of breast cancer, ultimately leading to earlier diagnoses and more effective treatment strategies.
        The prospect of empowering healthcare providers with a reliable predictive tool, potentially improving patient
        outcomes and contributing to the broader landscape of breast cancer research, serves as a driving force behind
        this endeavor. In creating this project, I hope to be a part of the collective effort to advance medical
        capabilities, enhance patient care, and bring us closer to a future where breast cancer is not only treatable
        but preventable.</h3>
</div>
{% endblock %}