{% extends 'cancerpredictor/layout.html' %}

{% block body %}
<div class="overlay-container" style="width: 90%;">
    <section id="about">
        <h2>About Breast Cancer</h2>
        <p>Breast cancer is a type of cancer that originates in the cells of the breast tissue. It occurs when abnormal
            cells in the breast grow and divide uncontrollably, forming a mass or lump. Breast cancer is a significant
            health concern, affecting both men and women, but it is more common in women.</p>
        <h2>Types of Breast Cancer</h2>
        <ol>
            <li>
                <h3>Benign Breast Cancer</h3>
            </li>
            <ul>
                <li>Benign tumors are non-cancerous growths that do not invade nearby tissues or spread to other parts
                    of the body.</li>
                <li>These tumors are typically slow-growing and do not pose a significant threat to health.</li>
                <li>These tumors are typically slow-growing and do not pose a significant threat to health.</li>
                <li>While benign tumors are not cancerous, they may still require medical attention if they cause
                    discomfort or other symptoms.</li>
            </ul>
            <li>
                <h3>Malignant Breast Cancer</h3>
            </li>
            <ul>
                <li>Malignant tumors are cancerous and have the potential to invade surrounding tissues and spread to
                    other parts of the body through the bloodstream or lymphatic system.</li>
                <li>The most common type of breast cancer is invasive ductal carcinoma, which starts in the milk ducts
                    and can invade nearby tissues in the breast.</li>
                <li>Other types include invasive lobular carcinoma, inflammatory breast cancer, and triple-negative
                    breast cancer, among others.</li>
                <li>Early detection and treatment are crucial for effectively managing malignant breast cancer.</li>
            </ul>
        </ol>
        <h2>Prevention</h2>
        <ul>
            <li>Regular breast self-exams and clinical breast exams.</li>
            <li>Mammograms for early detection of abnormalities.</li>
            <li>Leading a healthy lifestyle, including a balanced diet and regular exercise.</li>
            <li>Risk-reducing medications and prophylactic surgeries for high-risk individuals.</li>
        </ul>
    </section>
</div>
{% endblock %}